<!DOCTYPE html>
<!--
Copyright @ 2017 Hans Insulander (SM0UTY) <hans@codium.se>.
-->
<html>
  <head>
    <title>Link-QRV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <script src="/components/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css"></link>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/components/leaflet/dist/leaflet.css"></link>
    <script src="/components/leaflet/dist/leaflet.js"></script>

    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css"></link>

    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>

  <body>
    <div class="navbar navbar-default no-margin navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Link-QRV</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about" data-toggle="modal" data-target="#about-modal">About</a></li>
            <li><a href="#Map">Map</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li>
              <a href="#fullscreen" onclick="toggleFullscreen(document.documentElement);">
                <span class="glyphicon glyphicon-fullscreen"></span> Fullscreen
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row fill-rest">

      <div class="col-md-3 no-padding">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-sites">
                  Sites
                </a>
              </h4>
            </div>
            <div id="collapse-sites" class="panel-collapse collapse">
              <div class="panel-body" id="sites-table">
              </div>
            </div>

            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-links">
                  Links
                </a>
              </h4>
            </div>
            <div id="collapse-links" class="panel-collapse collapse">
              <div class="panel-body" id="links-table">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-9 fill">
        <div id="mapid" class="map fill"></div>
      </div>

    </div> <!-- row -->

    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog"
         aria-labelledby="about-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="about-modal-label">About Link-QRV</h2>
          </div>
          <div class="modal-body">
            <p class="copyright">
              Copyright &copy; 2017, Hans Insulander (SM0UTY).<br>
              All rights reserved.
            <p>
              Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
            <p>
              <ul>
                <li> Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
                <li> Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
              </ul>
              THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
            </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

      var mapboxUrl = 'https://api.mapbox.com/styles/v1/mapbox/{style}/tiles/256/{z}/{x}/{y}?access_token={token}';
      var mapboxToken = 'pk.eyJ1IjoiaGluIiwiYSI6ImNqMXh5OG55NDAwMDgzM3FoczJrMHFkdmwifQ.aflhKOgcBtD4FjXJxRNR-A';
      var mapboxAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';

      function mapboxLayer(style) {
          var layer = L.tileLayer(mapboxUrl, {
              style: style,
              token: mapboxToken,
              attribution: mapboxAttribution,
          });
          return layer;
      }

      var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors',
      });

      var outdoorsLayer = L.tileLayer('http://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors, <a href="http://thunderforest.com/">'
      });

      var baseMaps = {
          'Mapbox Outdoor': mapboxLayer('outdoors-v10'),
          'Mapbox Streets': mapboxLayer('streets-v10'),
          'Mapbox Light': mapboxLayer('light-v9'),
          'Mapbox Dark': mapboxLayer('dark-v9'),
          'Mapbox Satellite': mapboxLayer('satellite-v9'),
          'Mapbox Satellite with streets': mapboxLayer('satellite-streets-v10'),
          'OpenStreetMap': osmLayer,
          'Thunderforest outdoors': outdoorsLayer,
      };

      var map = L.map('mapid', {
          zoomSnap: 0.5,
          zoomDelta: 0.5,
          layers: Object.values(baseMaps)[0],
      }).setView([59.404, 17.937], 10);

      L.control.layers(baseMaps).addTo(map);

      var sites = [];

      var addLinkMode = false;

      var linkSelection = [];

      function addLink() {
          addLinkMode = true;
      }

      function siteClick(site, event) {
          if (!addLinkMode) {
              var popup = L.popup()
                  .setLatLng(site.position)
                  .setContent(site.name)
                  .openOn(map);
          } else {
              console.log('Select site ' + site.name);
              linkSelection.push(site.id);
              if (linkSelection.length == 2) {
                  links.push({sites: linkSelection});
                  addLinkMode = false;
                  console.log(links);
                  updateLinks();
              }
          }
      };

      function updateSites() {
          var sitelist = '<ul class="list-group">';
          for (var i = 0; i < sites.length; i++) (function(site) {
              sitelist += '<li class="list-group-item">' + site.name + '</li>'
              if (!site.marker) {
                  site.marker = new L.Marker(site.position, {
                      draggable: true
                  });
                  site.marker.on('click', (e) => {
                      siteClick(site, e);
                  });
                  site.marker.addTo(map);
                  site.marker.on('dragend', (e) => {
                      site.position = e.target.getLatLng();
                      updateSites();
                      updateLinks();
                  });
                  site.marker.on('drag', (e) => {
                      site.position = e.target.getLatLng();
                      console.log("drag");
                      updateLinks();
                  });

              }
          })(sites[i]);
          sitelist += '</ul>';
          $('#sites-table').html(sitelist);
      };

      $.getJSON('/api/v1/sites/all', {}, (result) => {
          sites = result;
          updateSites();
      });

      function addSite() {
          map.on('click', (e) => {
              sites.push({position: e.latlng, name: 'New site'});
              updateSites();
              map.off('click');
          });

          console.log("Add site");
      };

      function findSiteById(id) {
          for (var i = 0; i < sites.length; i++) {
              if (sites[i].id == id)
                  return sites[i];
          }
      };

      var links = [];

      function linkClick(link, linkSites, event) {
          var data = {
              lat0: linkSites[0].position.lat,
              lng0: linkSites[0].position.lng,
              lat1: linkSites[1].position.lat,
              lng1: linkSites[1].position.lng,
          };
          $.getJSON('/api/v1/elevation/line', data,
                    (result) => {
                        var width = 300;
                        var height = 200;
                        var html = 'Link ' + linkSites[0].name + ' - ' + linkSites[1].name + '<br/>'
                            + '<canvas id="elevationcanvas" width="' + width
                            + '" height="' + height + '"></canvas>';
                        var popup = L.popup()
                            .setLatLng(event.latlng)
                            .setContent(html)
                            .openOn(map);
                        var canvas = document.getElementById('elevationcanvas');
                        var ctx = canvas.getContext('2d');
                        var antennaElevation = [
                            link.elevation[0] + result.points[0][2],
                            link.elevation[1] + result.points[result.points.length-1][2],
                        ];
                        var maxElevation = Math.max(antennaElevation[0], antennaElevation[1]);
                        var minElevation = Math.min(antennaElevation[0], antennaElevation[1]);
                        for (var i = 0; i < result.numPoints; i++) {
                            var elevation = result.points[i][2];
                            maxElevation = Math.max(maxElevation, elevation);
                            minElevation = Math.min(minElevation, elevation);
                        }
                        var xScale = width / result.totalDistance;
                        var yScale = height / (maxElevation - minElevation);

                        /* Draw terrain. */
                        /* TODO: Calculate and draw earth curvature */
                        for (var i = 0; i < result.points.length; i++) {
                            x = i * result.stepLength;
                            y = result.points[i][2] - minElevation;
                            if (i == 0)
                                ctx.moveTo(x * xScale, height - y * yScale);
                            else
                                ctx.lineTo(x * xScale, height - y * yScale);
                        }

                        /* Draw link path between antennas */
                        ctx.moveTo(0, height - (antennaElevation[0] - minElevation) * yScale);
                        ctx.lineTo(width, height - (antennaElevation[1] - minElevation) * yScale);

                        ctx.stroke();
                    });
      }

      function updateLinks() {
          var linklist = '<ul class="list-group">';
          for (var i = 0; i < links.length; i++) (function (link) {
              var site0 = findSiteById(link.sites[0]);
              var site1 = findSiteById(link.sites[1]);
              linklist += '<li class="list-group-item">' + site0.name + ' - ' + site1.name + '</li>';
              if (!link.line) {
                  link.line = L.polyline([site0.position, site1.position]);
                  link.line.addTo(map);
                  link.line.on('click', (e) => {
                      linkClick(link, [site0, site1], e);
                  });
              }
              link.line.setLatLngs([site0.position, site1.position]);
          })(links[i]);
          linklist += '</li>';
          $('#links-table').html(linklist);
      };

      function toggleFullscreen(elem) {
          elem = elem || document.documentElement;
          if (!document.fullscreenElement && !document.mozFullScreenElement &&
              !document.webkitFullscreenElement && !document.msFullscreenElement) {
              if (elem.requestFullscreen) {
                  elem.requestFullscreen();
              } else if (elem.msRequestFullscreen) {
                  elem.msRequestFullscreen();
              } else if (elem.mozRequestFullScreen) {
                  elem.mozRequestFullScreen();
              } else if (elem.webkitRequestFullscreen) {
                  elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
              }
          } else {
              if (document.exitFullscreen) {
                  document.exitFullscreen();
              } else if (document.msExitFullscreen) {
                  document.msExitFullscreen();
              } else if (document.mozCancelFullScreen) {
                  document.mozCancelFullScreen();
              } else if (document.webkitExitFullscreen) {
                  document.webkitExitFullscreen();
              }
          }
      }

      $.getJSON('/api/v1/links/all', {}, (result) => {
          links = result;
          updateLinks();
      });

      L.control.scale().addTo(map);

    </script>
  </body>
</html>
