<!DOCTYPE html>
<!--
Copyright @ 2017 Hans Insulander (SM0UTY) <hans@codium.se>.
-->
<html>
  <head>
    <title>Link-QRV</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/style.css">
    </link>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
      integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
      crossorigin="">
    </link>

    <script
      src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
      integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
      crossorigin="">
    </script>

    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"></link>

    <script src="/components/sidebar-v2/js/leaflet-sidebar.min.js"></script>
    <link rel="stylesheet" href="/components/sidebar-v2/css/leaflet-sidebar.min.css"></link>

  </head>
  <body>
    <div id="sidebar" class="sidebar collapsed">
      <div class="sidebar-tabs">
        <ul role="tablist">
          <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
          <li><a href="#sites" role="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#links" role="tab"><i class="fa fa-arrows-h"></i></a></li>
        </ul>
        <ul role="tablist">
          <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
          <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
      </div>

      <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
          <h1 class="sidebar-header">
            Link-QRV
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>

          <p class="copyright">
            Copyright (c) 2017, Hans Insulander (SM0UTY).<br>
            All rights reserved.
          <p>
            Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
          <p>
            <ul>
              <li> Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
              <li> Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
            </ul>
            THIS SOFTWARE IS PROVIDED BY THE AUTHOR AND CONTRIBUTORS ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE AUTHOR OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
          </p>
        </div>

        <div class="sidebar-pane" id="profile">
          <h1 class="sidebar-header">Profile<span class="sidebar-close"><span class="fa fa-caret-left"/></span></h1>
        </div>

        <div class="sidebar-pane" id="sites">
          <h1 class="sidebar-header">Sites<span class="sidebar-close"><span class="fa fa-caret-left"/></span></h1>
          <table id="sites-table">
          </table>

          <button><span class="fa fa-plus" onclick="addSite();"/></button>
        </div>

        <div class="sidebar-pane" id="links">
          <h1 class="sidebar-header">Links<span class="sidebar-close"><span class="fa fa-caret-left"/></span></h1>
          <table id="links-table">
          </table>

          <button><span class="fa fa-plus" onclick="addLink();"/></button>
        </div>

        <div class="sidebar-pane" id="settings">
          <h1 class="sidebar-header">Settings<span class="sidebar-close"><span class="fa fa-caret-left"/></span></h1>
        </div>
      </div>

    </div>

    <div id="mapid" class="sidebar-map"></div>

    <script type="text/javascript">

      var mapboxUrl = 'https://api.mapbox.com/styles/v1/mapbox/{style}/tiles/256/{z}/{x}/{y}?access_token={token}';
      var mapboxToken = 'pk.eyJ1IjoiaGluIiwiYSI6ImNqMXh5OG55NDAwMDgzM3FoczJrMHFkdmwifQ.aflhKOgcBtD4FjXJxRNR-A';
      var mapboxAttribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';

      function mapboxLayer(style) {
          var layer = L.tileLayer(mapboxUrl, {
              style: style,
              token: mapboxToken,
              attribution: mapboxAttribution,
          });
          return layer;
      }

      var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors',
      });

      var outdoorsLayer = L.tileLayer('http://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> Contributors, <a href="http://thunderforest.com/">'
      });

      var baseMaps = {
          'Mapbox Outdoor': mapboxLayer('outdoors-v10'),
          'Mapbox Streets': mapboxLayer('streets-v10'),
          'Mapbox Light': mapboxLayer('light-v9'),
          'Mapbox Dark': mapboxLayer('dark-v9'),
          'Mapbox Satellite': mapboxLayer('satellite-v9'),
          'Mapbox Satellite with streets': mapboxLayer('satellite-streets-v10'),
          'OpenStreetMap': osmLayer,
          'Thunderforest outdoors': outdoorsLayer,
      };

      var map = L.map('mapid', {
          zoomSnap: 0.5,
          zoomDelta: 0.5,
          layers: Object.values(baseMaps)[0],
      }).setView([59.404, 17.937], 10);

      L.control.layers(baseMaps).addTo(map);

      var sites = [];

      var addLinkMode = false;

      var linkSelection = [];

      function addLink() {
          addLinkMode = true;
      }

      function siteClick(site, event) {
          if (!addLinkMode) {
              var popup = L.popup()
                  .setLatLng(site.position)
                  .setContent(site.name)
                  .openOn(map);
          } else {
              console.log('Select site ' + site.name);
              linkSelection.push(site.id);
              if (linkSelection.length == 2) {
                  links.push({sites: linkSelection});
                  addLinkMode = false;
                  console.log(links);
                  updateLinks();
              }
          }
      };

      function updateSites() {
          var sitelist = '';
          for (var i = 0; i < sites.length; i++) (function(site) {
              sitelist += '<tr><td>' + site.name + '</td>'
              sitelist += '<td>' + site.position.lat + '/' + site.position.lng + '</td></tr>';
              if (!site.marker) {
                  site.marker = new L.Marker(site.position, {
                      draggable: true
                  });
                  site.marker.on('click', (e) => {
                      siteClick(site, e);
                  });
                  site.marker.addTo(map);
                  site.marker.on('dragend', (e) => {
                      site.position = e.target.getLatLng();
                      updateSites();
                      updateLinks();
                  });
                  site.marker.on('drag', (e) => {
                      site.position = e.target.getLatLng();
                      console.log("drag");
                      updateLinks();
                  });

              }
          })(sites[i]);
          sitelist += '';
          $('#sites-table').html(sitelist);
      };

      $.getJSON('/api/v1/sites/all', {}, (result) => {
          sites = result;
          updateSites();
      });

      function addSite() {
          map.on('click', (e) => {
              sites.push({position: e.latlng, name: 'New site'});
              updateSites();
              map.off('click');
          });

          console.log("Add site");
      };

      function findSiteById(id) {
          for (var i = 0; i < sites.length; i++) {
              if (sites[i].id == id)
                  return sites[i];
          }
      };

      var links = [];

      function linkClick(link, linkSites, event) {
          var data = {
              lat0: linkSites[0].position.lat,
              lng0: linkSites[0].position.lng,
              lat1: linkSites[1].position.lat,
              lng1: linkSites[1].position.lng,
          };
          $.getJSON('/api/v1/elevation/line', data,
                    (result) => {
                        var width = 300;
                        var height = 200;
                        var html = 'Link ' + linkSites[0].name + ' - ' + linkSites[1].name + '<br/>'
                            + '<canvas id="elevationcanvas" width="' + width
                            + '" height="' + height + '"></canvas>';
                        var popup = L.popup()
                            .setLatLng(event.latlng)
                            .setContent(html)
                            .openOn(map);
                        var canvas = document.getElementById('elevationcanvas');
                        var ctx = canvas.getContext('2d');
                        var antennaElevation = [
                            link.elevation[0] + result.points[0][2],
                            link.elevation[1] + result.points[result.points.length-1][2],
                        ];
                        var maxElevation = Math.max(antennaElevation[0], antennaElevation[1]);
                        var minElevation = Math.min(antennaElevation[0], antennaElevation[1]);
                        for (var i = 0; i < result.numPoints; i++) {
                            var elevation = result.points[i][2];
                            maxElevation = Math.max(maxElevation, elevation);
                            minElevation = Math.min(minElevation, elevation);
                        }
                        var xScale = width / result.totalDistance;
                        var yScale = height / (maxElevation - minElevation);

                        /* Draw terrain. */
                        /* TODO: Calculate and draw earth curvature */
                        for (var i = 0; i < result.points.length; i++) {
                            x = i * result.stepLength;
                            y = result.points[i][2] - minElevation;
                            if (i == 0)
                                ctx.moveTo(x * xScale, height - y * yScale);
                            else
                                ctx.lineTo(x * xScale, height - y * yScale);
                        }

                        /* Draw link path between antennas */
                        ctx.moveTo(0, height - (antennaElevation[0] - minElevation) * yScale);
                        ctx.lineTo(width, height - (antennaElevation[1] - minElevation) * yScale);

                        ctx.stroke();
                    });
      }

      function updateLinks() {
          var linklist = '';
          for (var i = 0; i < links.length; i++) (function (link) {
              var site0 = findSiteById(link.sites[0]);
              var site1 = findSiteById(link.sites[1]);
              linklist += '<tr><td>' + site0.name + '</td><td>' + site1.name + '</td></tr>';
              if (!link.line) {
                  link.line = L.polyline([site0.position, site1.position]);
                  link.line.addTo(map);
                  link.line.on('click', (e) => {
                      linkClick(link, [site0, site1], e);
                  });
              }
              link.line.setLatLngs([site0.position, site1.position]);
          })(links[i]);
          $('#links-table').html(linklist);
      };

      $.getJSON('/api/v1/links/all', {}, (result) => {
          links = result;
          updateLinks();
      });

      var sidebar = L.control.sidebar('sidebar').addTo(map);
      L.control.scale().addTo(map);

    </script>
  </body>
</html>
